{% extends 'base.html' %}

{% block content %}
    <div class="row" style="margin-top:5vh">
        <h1 class="text-center display-4">{% block title %} Transcription Model Accuracy {% endblock %}</h1>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <div class="main">
                <h5 class="card-title">ESPnet</h5>
                <div>Transcription:</div>
                <div class="transcript" id="espnet"></div>
                <div class="check" id="espcheck"></div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="main">
                <h5 class="card-title">SpeechBrain</h5>
                <div>Transcription:</div>
                <div class="transcript" id="sb"></div>
                <div class="check" id="sbcheck"></div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="main">
                <h5 class="card-title">Wav2Vec2</h5>
                <div>Transcription:</div>
                <div class="transcript" id="w2v2"></div>
                <div class="check" id="wcheck"></div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:5vh">
        <div class="container text-center">
            <input type="text" value="Spoken text" id="refText">
            <p style="font-size:0.8rem;margin-top:1vh">Type your reference text into the input field and record yourself reading aloud from it</p>           
        </div>
    </div>
    <div class="row" style="margin-top: 10vh;">
        <div class="container text-center">
            <button class="btn btn-outline-primary" id="startRecording">Start recording</button>
            <button class="btn btn-outline-primary" id="stopRecording" disabled>Stop recording</button>
        </div>
    </div>
    <div class="row" style="margin-top:5vh">
        <div class="container text-center">
            <button onclick="audio.play()" class="btn btn-outline-primary" id="playRecording" disabled>Play Recording</button>
        </div>
    </div>
    <div class="row" style="margin-top:5vh;">
        <div class="col-md-4" style="align-content:center">
            <button onclick="trials = new Array()" class="btn btn-outline-primary">Clear Data</button>
        </div>
        <div class="col-md-4">
            <div class="form-check form-switch" style="padding-left:50%;">
                <input class="form-check-input" type="checkbox" id="toggleLog">
                <label class="form-check-label" for="toggleLog">Log data</label>
              </div>
        </div>
        <div class="col-md-4" style="align-content:center;">
            <button onclick="download()" class="btn btn-outline-primary">Download data</button>
        </div>
    </div>
    <div class="row">
        <footer style="margin-bottom:1vh;text-align:center;position:fixed;bottom:0">Similarity score calculated using Levenshtein distance</footer>
    </div>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
{% endblock %}


{% block extra %}

<script>
    URL = window.URL || window.webkitURL;

    var gumStream;
    var rec;
    var input;
    
    var AudioContext = window.AudioContext || window.webkitAudioContext;
    var audioContext 

    const message = "Processing audio..."
    const checkStart = "Similarity Score: "
    const checkEnd = "%"

    var recordButton = document.getElementById("startRecording");
    var stopButton = document.getElementById("stopRecording");
    var playButton = document.getElementById("playRecording");
    var spokenText = document.getElementById("refText");
    var logButton = document.getElementById("toggleLog");

    var audio;

    var trials = new Array();
    
    recordButton.addEventListener("click", startRecording);
    stopButton.addEventListener("click", stopRecording);
    
    function startRecording() {
        console.log("recordButton clicked");
    
        recordButton.disabled = true;
        stopButton.disabled = false;
        playButton.disabled=true;

        navigator.mediaDevices.getUserMedia({ audio: true, video:false }).then(function(stream) {
            console.log("getUserMedia() success, stream created, initializing Recorder.js ...");
    
            audioContext = new AudioContext({sampleRate : 16000});
    
            gumStream = stream;
    
            input = audioContext.createMediaStreamSource(stream);

            rec = new Recorder(input,{numChannels:1})
    
            rec.record()
    
            console.log("Recording started");
    
        }).catch(function(err) {
            recordButton.disabled = false;
            stopButton.disabled = true;
        });
    }

    function download(){
        let csvContent = "data:text/csv;charset=utf-8,Original Text, W2V2 Transcription, W2V2 Score, SB Transcription, SB Score, Espnet Transcription, Espnet Score\n" 
            + trials.map(e => e.join(",")).join("\n");
        var encodedUri = encodeURI(csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "data.csv");
        document.body.appendChild(link);
        link.click();
    }

    
    function stopRecording() {
        console.log("Recording stopped");
    
        stopButton.disabled = true;
        recordButton.disabled = false;
    
        rec.stop();
    
        gumStream.getAudioTracks()[0].stop();

        rec.exportWAV(sendData);
    }
    
    function sendData(data) {
        $(".transcript").text(message)
        audio = new Audio(window.URL.createObjectURL(data))
        playButton.disabled=false
        var form = new FormData();
        form.append('file', data, 'data.wav');
        console.log(data)
        $.ajax({
            type: 'POST',
            url: '/save-record',
            data: form,
            success: function(data){
                $("#w2v2").text(data.w2v2)
                $("#sb").text(data.sb)
                $("#espnet").text(data.espnet)
                let wscore = similarity(data.w2v2, spokenText.value);
                let sbscore = similarity(data.sb, spokenText.value);
                let espscore = similarity(data.espnet, spokenText.value);
                $("#wcheck").text(checkStart + wscore + checkEnd)
                $("#sbcheck").text(checkStart + sbscore + checkEnd)
                $("#espcheck").text(checkStart + espscore + checkEnd)
                if(logButton.checked){
                    trials.push(new Array(spokenText.value, new Array(data.w2v2, wscore), new Array(data.sb, sbscore), new Array(data.espnet, espscore)))
                    console.log(trials)
                }

            },
            cache: false,
            processData: false,
            contentType: false,
            error: function(error){
                console.log("Error: " + error.responseText)
                alert("Error encountered... please try again")
            }
        });
    }


    function similarity(s1, s2) {
        var longer = s1.toString();
        var shorter = s2.toString();
        if (s1.length < s2.length) {
            longer = s2;
            shorter = s1;
        }
        var longerLength = longer.length;
        if (longerLength == 0) {
            return 1.0;
        }
        return Math.round((longerLength - editDistance(longer, shorter)) / parseFloat(longerLength) * 10000)/100;
    }

    function editDistance(s1, s2) {
        s1 = s1.toString().toLowerCase();
        s2 = s2.toString().toLowerCase();

        var costs = new Array();
        for (var i = 0; i <= s1.length; i++) {
            var lastValue = i;
            for (var j = 0; j <= s2.length; j++) {
            if (i == 0)
                costs[j] = j;
            else {
                if (j > 0) {
                var newValue = costs[j - 1];
                if (s1.charAt(i - 1) != s2.charAt(j - 1))
                    newValue = Math.min(Math.min(newValue, lastValue),
                    costs[j]) + 1;
                costs[j - 1] = lastValue;
                lastValue = newValue;
                }
            }
            }
            if (i > 0)
            costs[s2.length] = lastValue;
        }
        return costs[s2.length];
    }

</script>

{% endblock %}