{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <h1 class="text-center">{% block title %} Audio Transcription Comparison {% endblock %}</h1>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <div class="main">
                <h5 class="card-title">ESPnet</h5>
                <div>Transcription:</div>
                <div class="transcript" id="enet"></div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="main">
                <h5 class="card-title">SpeechBrain</h5>
                <div>Transcription:</div>
                <div class="transcript" id="sb"></div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="main">
                <h5 class="card-title">Wav2Vec2</h5>
                <div>Transcription:</div>
                <div class="transcript" id="w2v2"></div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10vh;">
        <div class="container text-center">
            <button id="startRecording">Start recording</button>
            <button id="stopRecording" disabled>Stop recording</button>
        </div>
    </div>
{% endblock %}

<!--TODO: Add time limit to recording-->

<!--Audio Recording Code taken from https://github.com/duketemon/web-speech-recorder-->
{% block extra %}
<script>
    const interval = setInterval(update_values, 5000)
    navigator
        .mediaDevices
        .getUserMedia({audio: true})
        .then(stream => { handlerFunction(stream) });


    function handlerFunction(stream) {
        rec = new MediaRecorder(stream);
        rec.ondataavailable = e => {
            audioChunks.push(e.data);
            if (rec.state == "inactive") {
                let blob = new Blob(audioChunks, {type: 'audio/mpeg-3'});
                sendData(blob);
            }
        }
    }

    function sendData(data) {
        var form = new FormData();
        form.append('file', data, 'data.mp3');
        form.append('title', 'data.mp3');
        console.log(data)
        $.ajax({
            type: 'POST',
            url: '/save-record',
            data: form,
            cache: false,
            processData: false,
            contentType: false
        });
    }

    startRecording.onclick = e => {
        console.log('Recording started..');
        startRecording.disabled = true;
        stopRecording.disabled = false;
        audioChunks = [];
        rec.start();
    };

    stopRecording.onclick = e => {
        console.log("Recording stopped.");
        startRecording.disabled = false;
        stopRecording.disabled = true;
        rec.stop();
    };

    function update_values(){
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $.getJSON(
            $SCRIPT_ROOT+"/_words",
            function(data) {
                $("#w2v2").text(data.w2v2)
            }
        );
    }

</script>
{% endblock %}