{% extends 'base.html' %}

{% block content %}
    <div class="row" style="margin-top:5vh">
        <h1 class="text-center display-4">{% block title %} Audio Transcription Comparison {% endblock %}</h1>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <div class="main">
                <h5 class="card-title">ESPnet</h5>
                <div>Transcription:</div>
                <div class="transcript" id="espnet"></div>
                <div id="esptime"></div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="main">
                <h5 class="card-title">SpeechBrain</h5>
                <div>Transcription:</div>
                <div class="transcript" id="sb"></div>
                <div id="sbtime"></div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="main">
                <h5 class="card-title">Wav2Vec2</h5>
                <div>Transcription:</div>
                <div class="transcript" id="w2v2"></div>
                <div id="wtime"></div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10vh;">
        <div class="container text-center">
            <button class="btn btn-outline-primary" id="startRecording">Start recording</button>
            <button class="btn btn-outline-primary" id="stopRecording" disabled>Stop recording</button>
        </div>
    </div>
    <div class="row" style="margin-top:5vh">
        <div class="container text-center">
            <button onclick="audio.play()" class="btn btn-outline-primary" id="playRecording" disabled>Play Recording</button>
        </div>
    </div>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
{% endblock %}

<!--TODO: Add time limit to recording-->

{% block extra %}

<script>
    URL = window.URL || window.webkitURL;

    var gumStream;
    var rec;
    var input;
    
    var AudioContext = window.AudioContext || window.webkitAudioContext;
    var audioContext 

    const message = "Processing audio..."

    var recordButton = document.getElementById("startRecording");
    var stopButton = document.getElementById("stopRecording");
    var playButton = document.getElementById("playRecording");

    var audio;
    
    recordButton.addEventListener("click", startRecording);
    stopButton.addEventListener("click", stopRecording);
    
    function startRecording() {
        console.log("recordButton clicked");
    
        recordButton.disabled = true;
        stopButton.disabled = false;
        playButton.disabled=true;

        navigator.mediaDevices.getUserMedia({ audio: true, video:false }).then(function(stream) {
            console.log("getUserMedia() success, stream created, initializing Recorder.js ...");
    
            audioContext = new AudioContext({sampleRate : 16000});
    
            gumStream = stream;
    
            input = audioContext.createMediaStreamSource(stream);

            rec = new Recorder(input,{numChannels:1})
    
            rec.record()
    
            console.log("Recording started");
    
        }).catch(function(err) {
            recordButton.disabled = false;
            stopButton.disabled = true;
        });
    }

    
    function stopRecording() {
        console.log("Recording stopped");
    
        stopButton.disabled = true;
        recordButton.disabled = false;
    
        rec.stop();
    
        gumStream.getAudioTracks()[0].stop();

        rec.exportWAV(sendData);
    }
    
    function sendData(data) {
        $("#w2v2").text(message)
        $("#sb").text(message)
        $("#espnet").text(message)
        audio = new Audio(window.URL.createObjectURL(data))
        playButton.disabled=false
        var form = new FormData();
        form.append('file', data, 'data.wav');
        console.log(data)
        $.ajax({
            type: 'POST',
            url: '/save-record',
            data: form,
            success: function(data){
                $("#w2v2").text(data.w2v2)
                $("#sb").text(data.sb)
                $("#espnet").text(data.espnet)
                $("#esptime").text(data.esptime)
                $("#sbtime").text(data.sbtime)
                $("#wtime").text(data.wtime)
                console.log(data.wtime)
            },
            cache: false,
            processData: false,
            contentType: false,
            error: function(error){
                console.log("Error: " + error.responseText)
                alert("Error encountered... please try again")
            }
        });
    }
</script>

{% endblock %}